body {
  margin: 5rem;
  font-family: "Helvetica", "Arial", sans-serif;
  background: lightgrey;
}

li {
  padding .2rem;
  font-weight: bold;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: goldenrod;
}
